<%
  var last;
  page.posts.each(function(post, i){
     var year = post.date.year();
     var this_date = date(post.date, 'MMM D');
     if (last != year){
       if (last != null){ %>
        </section>
      <% } %>
      <% last = year; %>
	  <section class="archives"><h1 class="year"><%= year %></h1><div class="top-border-padding"></div>
    <% } %>
    <article>
      <h2 class="title"><a href="<%= url_for(post.path) %>"><%= post.title %></a></h2>
    	<div class="meta">
    		<span class="date"><%= this_date %></span>
    		<span class="tags"><%- partial('_partial/post/tags', { post: post} ) %></span>
    	    <% if (theme.disqus_shortname && post.comments != false ) { %>
    	    <span class="comments"><a href="<%= post.permalink %>#disqus_thread">Comments</a></span>
    	    <% } %>
    	</div>
    </article>
  <% }) %>
  <% if (page.posts.length){ %>
    </section>
  <% } %>
